<html>
  <head>
    <style>
      html, body { 
        background-color:#ffffff;
        margin: 0;
        padding: 0;
        height: 100%;
        overflow: hidden !important;  
      }
    </style>
    <title>Project Cardiowave</title>
    <script async src="https://unpkg.com/es-module-shims@1.6.3/dist/es-module-shims.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <script type="importmap">
    {
      "imports": {
        "three": "https://unpkg.com/three@latest/build/three.module.js",
        "three/addons/": "https://unpkg.com/three@latest/examples/jsm/"
      }
    }
  </script>

  <script type="module">

    import * as THREE from 'three';
    import { OrbitControls } from 'three/addons/controls/OrbitControls.js';      
    import { GLTFLoader } from 'three/addons/loaders/GLTFLoader.js'; 

    var renderer, controls, scene, camera;
    //for pumping
    var heartModel; // Reference to the heart model

    // var clock = new THREE.Clock(); // Clock to track animation time
    // var heartBeatFrequency = 0.5; // Frequency of the heartbeat in beats per second
    // var maxScale = 1.2; // Maximum scale of the heart (1 is the original size)


    window.onload = function() {

      // Three.js code goes here
      scene = new THREE.Scene();

      // setup the camera
      var fov = 75;
      var ratio = window.innerWidth / window.innerHeight;
      var zNear = 1;
      var zFar = 10000;
      camera = new THREE.PerspectiveCamera( fov, ratio, zNear, zFar );
      camera.position.set(25, -200, 90);

      // create renderer and setup the canvas
      renderer = new THREE.WebGLRenderer({ antialias: true });
      renderer.setSize( window.innerWidth, window.innerHeight );
      renderer.setClearColor(0xffffff); // Set the clear color to match your background
      document.body.appendChild( renderer.domElement );

      // setup lights
      var ambientLight = new THREE.AmbientLight();
        scene.add( ambientLight );

      var light = new THREE.DirectionalLight( 0xffffff, 5.0 );
      light.position.set( -10, -100, -10 );
      scene.add( light );
  

      // Load gltf file
      // var loader = new GLTFLoader();
      // loader.load( 'heart.glb', function ( gltf ) {
      //   heartModel = gltf.scenes[0].children[0];
      //   heartModel.scale.x = 0.5;
      //   heartModel.scale.y = 0.5;
      //   heartModel.scale.z = 0.5;
      //   heartModel.translateX(-50);
      //   heartModel.translateY(80);
      //   scene.add(gltf.scene);
      // });


      //display the 6 meshes atrium
      var loader = new GLTFLoader();
      loader.load('static/heart.glb', function (gltf) {

        const objectsInfo = [
          { name: 'RIGHT_ATRIUM', color: 0x355070 },
          { name: 'LEFT_ATRIUM', color: 0x6D597A },
          { name: 'RIGHT_VENTRICLE', color: 0xB56576 },
          { name: 'LEFT_VENTRICLE', color: 0xE56B6F },
          { name: 'AORTA', color: 0x88B2CC },
          { name: 'PULMONARY_ARTERY', color: 0xB5E48C },
        ];

        for (const objInfo of objectsInfo) {
          const object = gltf.scene.getObjectByName(objInfo.name);
          object.scale.set(0.5, 0.5, 0.5);
          object.material = new THREE.MeshStandardMaterial({ color: objInfo.color });
          object.visible = true;
          scene.add(object);
          // Rotate the model on the Y-axis
          // object.rotation.x = Math.PI / 4; // Rotate by 45 degrees
        }


      });
          
      
      // Insert the traverse function here
      // gltf.scene.traverse(function (child) {
      //   if (child.isMesh) {
      //     console.log(child);
      //   }
      // });


        controls = new OrbitControls( camera, renderer.domElement );
        animate();
                
};


function animate() {
    requestAnimationFrame( animate );

    // for pumping
    // var elapsedTime = clock.getElapsedTime(); // Get elapsed time in seconds
    // var heartScale = 1 + Math.sin(elapsedTime * heartBeatFrequency * Math.PI * 2) * (maxScale - 1) / 2;

    // if (heartModel) {
    //   heartModel.scale.set(heartScale, heartScale, heartScale); // Scale the heart model
    // }

   
    controls.update();
    renderer.render( scene, camera );

    }; 
  </script>
  </head>
  <body>

    <script type="text/javascript">
      $(document).ready(function(){
          // $('#loadData').click(function(){
          $.getJSON('/ecg_data', function(data){
              console.log(data.signal)
              console.log(data.rpeaks)
          });
          // });
      });
  </script>


</body>
</html>
